.parent-details{
    box-shadow: gray 0 0 15px;
    border-radius: 15px;
    padding: 20px 0 20px 15px;
}
.row{
    display: table-row;
}
.cell{
    width: 550px;
    height: 200px;
    display: flex;
    justify-content: flex-start;
    box-shadow: gray 0 0 10px;
    border-radius: 10px;
    overflow: hidden;
}

.tag{
    /*padding: .2em .6em .3em;*/
    font-size: 75%;
    font-weight: bold;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.primary{
    background-color: #2aabd2;
}
.b-img{
    width: 300px;
    height: 100%;
    border-radius: 10px 0 0 10px;
}
